@font-face {
	font-family: "COUTURE";
	src: url("../fonts/COUTURE-Bold.ttf");
}

@font-face {
	font-family: "PTSerifRegular";
	src: url("../fonts/PT Serif Regular.ttf");
}

@font-face {
	font-family: "QuiteChocolatey";
	src: url("../fonts/Quite Chocolatey.ttf");
}