@charset "UTF-8";
@import url(normalize.css);
@import url(fonts.css);
html {
  font-size: 20px; }

.btn {
  color: #fff;
  background-color: #c62314;
  border: none;
  font-family: 'Montserrat', sans-serif;
  padding: 14px 0px;
  border-radius: 5px; }

.btn-blue {
  background-color: #130e27; }

.btn-red {
  background-color: #c62314; }

.title-section {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin: 2.4rem 0px;
  display: block; }

.wrap-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.flex {
  display: flex;
  flex-wrap: wrap; }

.bg-img {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%; }

header {
  background-image1: url("../img/bg-head.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  overflow1: hidden;
  background-color: #b91e10; }
  header .bg-header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background1: rgba(221, 34, 17, 0.8);
    overflow: hidden; }
  header .logo {
    font-family: 'QuiteChocolatey', sans-serif;
    font-size: 40px;
    color: #fff;
    font-size: 4.4rem;
    margin: 20px 0px;
    display: block; }
  header .menu-btn {
    display: none;
    width: 40px;
    height: 40px;
    background-image: url("../img/menu-button_icon-icons.png");
    background-color: transparent;
    border: none;
    background-size: 100%; }
  header .menu-wrap {
    position: relative; }
  header .main-menu {
    text-align1: right;
    position: absolute;
    right: 0px;
    top: -100px; }
    header .main-menu li {
      display: inline-block; }
    header .main-menu a {
      font-family: 'Montserrat', sans-serif;
      font-size: 0.9rem;
      color: #fff;
      padding: 10px 12px; }
      header .main-menu a:hover {
        background-color: #130e27;
        border-radius: 5px; }
  header .info-header {
    margin1: 5rem 0px;
    margin-top: 5rem; }
  header h1 {
    font-size: 4.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #130e27;
    line-height: 4rem;
    margin1: 2rem 0px;
    margin1: 64px 0px;
    margin: 30px 0px; }
    header h1 span {
      color: #fff; }
  header p {
    font-family: 'PTSerifRegular', sans-serif;
    color: #fff;
    font-size: 1rem;
    line-height: 1.4rem; }
  header .wrap-form {
    min-height1: 500px;
    min-height: 442px;
    min-width: 400px;
    position: relative; }
  header .main-form {
    background-color: #fff;
    max-width: 400px;
    padding: 24px;
    border-radius: 5px;
    box-shadow: 1px 1px 20px #272020;
    text-align: center;
    margin-top1: 34px;
    position: absolute;
    top1: 44px;
    top: 30px;
    /*
		.block-checkbox {
			width: 18px;
			height: 18px;
			border-radius: 5px;
			background-color1: #eeeeee;
			background-color: red;
			display: inline-block;

			margin: 0px 20px -1px -20px;
*/
    /*
			&:before {
				content: "";
				width: 18px;
				height: 18px;
				position: absolute;
				background-image: url('../img/icons8-галочка-50.png');
				background-position: center;
				background-size: 100%;
				left: 0px;
				
			}

		}
*/ }
    header .main-form p {
      font-size: 1.1rem;
      font-family: 'Montserrat', sans-serif;
      color: #130e27; }
    header .main-form input[type="text"] {
      width: 100%;
      background-color: #eeeeee;
      padding: 12px;
      color: #b5b5b5;
      font-size: 1rem;
      font-family: 'PTSerifRegular', sans-serif;
      border: none;
      margin: 8px 0px;
      border-radius: 5px; }
    header .main-form .none-checkbox {
      display: none; }
    header .main-form label {
      font-size: 1rem;
      font-family: 'PTSerifRegular', sans-serif;
      cursor: pointer;
      position: relative;
      display: inline-block; }
      header .main-form label:after {
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 5px;
        background-color: #eeeeee;
        top: 5px;
        left: -28px; }
    header .main-form input:checked + label {
      display1: block; }
      header .main-form input:checked + label:before {
        content: "";
        width: 18px;
        height: 18px;
        position: absolute;
        background-image: url("../img/icons8-галочка-50.png");
        background-position: center;
        background-size: 100%;
        left: -28px;
        top: 5px;
        z-index: 10; }
    header .main-form .btn {
      width: 100%;
      margin-top: 24px; }

.wrap-service {
  background-color: #fff; }
  .wrap-service .big-text {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 2.5rem;
    color: #c62314;
    margin: 30px 0px; }
    .wrap-service .big-text span {
      color: #130e27; }
  .wrap-service .service-inco {
    width: 180px;
    height: 160px;
    background-color1: red;
    background-image: url("../img/service-inco.png");
    background-position: -46px -18px; }
  .wrap-service .wrap-flex .service {
    background-color1: yellow;
    text-align: center;
    width: 180px;
    margin: 20px 0px; }
  .wrap-service .wrap-flex .service:nth-child(1) .service-inco {
    background-position: -46px -18px; }
  .wrap-service .wrap-flex .service:nth-child(2) .service-inco {
    background-position: -330px -18px; }
  .wrap-service .wrap-flex .service:nth-child(3) .service-inco {
    background-position: -606px -14px; }
  .wrap-service .wrap-flex .service:nth-child(4) .service-inco {
    background-position: 218px -18px; }
  .wrap-service .wrap-flex p {
    font-size: 1rem;
    font-family: 'PTSerifRegular', sans-serif; }

.wrap-story {
  background-color: #130e27; }
  .wrap-story p {
    color: #fff;
    font-family: 'PTSerifRegular', sans-serif;
    font-size: 1rem; }
  .wrap-story .btn {
    width: 100%;
    margin: 1.2rem auto;
    max-width: 255px;
    display: block; }

.wrap-rate {
  background-color: #efefef;
  text-align: center; }
  .wrap-rate .btn-blue,
  .wrap-rate .btn-red {
    width: 100%; }
  .wrap-rate .rate-once {
    background-color: #ffffff;
    max-width1: 318px;
    text-align: center;
    font-size: 1rem;
    font-family: 'PTSerifRegular', sans-serif;
    padding: 10px 56px 0px 56px;
    padding-top1: 10px;
    padding-bottom1: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 320px;
    position: relative;
    overflow: hidden; }
    .wrap-rate .rate-once .sile {
      position: absolute;
      top: 0px;
      left: 0px;
      background-image: url("../img/sile.png");
      width: 110px;
      height: 110px;
      background-repeat: no-repeat; }
      .wrap-rate .rate-once .sile p {
        transform: rotate(-48deg);
        position: absolute;
        top: 12px; }
    .wrap-rate .rate-once p {
      margin: 0px;
      padding: 10px 0px; }
    .wrap-rate .rate-once .prise {
      color: #c62314;
      font-size: 3rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold; }
    .wrap-rate .rate-once ul {
      padding: 0px; }
    .wrap-rate .rate-once li {
      list-style: none; }
  .wrap-rate .title-section {
    color: #130e27; }

.testim-wrap {
  background-color: #fff;
  padding: 5rem; }
  .testim-wrap .title-section {
    text-align: center;
    margin: 1rem 0px; }
  .testim-wrap .testim {
    /*
		.dj-info:nth-child(2n) {

			background-color: red;

		}
*/ }
    .testim-wrap .testim .title-section {
      color: #130e27; }
    .testim-wrap .testim .dj-info:nth-child(2n) .dj-text:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #efefef;
      background-color1: red;
      z-index: 1;
      width1: 410px;
      width: 434px;
      left: -24px; }
    .testim-wrap .testim .dj-info:nth-child(2n) p {
      color: #c62314; }
    .testim-wrap .testim .dj-info:nth-child(2n) .strong {
      color: #130e27; }
  .testim-wrap .dj-info {
    position: relative;
    padding-right1: 50px;
    max-width1: 470px;
    padding-left: 10px;
    background-color1: yellow;
    padding-left: 25px;
    padding-bottom: 1.5rem; }
    .testim-wrap .dj-info p {
      color: #161616;
      font-size: 1rem;
      font-family: 'PTSerifRegular', sans-serif;
      float1: left;
      position: relative;
      z-index: 20; }
    .testim-wrap .dj-info .strong {
      color: #130e27;
      font-size: 1rem;
      font-family: 'Montserrat', sans-serif; }
    .testim-wrap .dj-info .dj-img {
      width: 104px;
      height: 104px;
      overflow: hidden;
      border-radius: 50%;
      box-shadow: 0px 0px 10px #A1A1A1;
      float1: right;
      align-self: center;
      margin1: auto;
      position1: absolute;
      right1: 0px;
      top1: calc(50% - 52px);
      position: relative;
      z-index: 20; }
    .testim-wrap .dj-info .dj-text {
      max-width: 360px;
      float1: left;
      position: relative; }
  .testim-wrap .gallery-wrap {
    text-align1: center;
    padding-bottom: 10px; }
    .testim-wrap .gallery-wrap .title-section {
      color: #c62314;
      text-align1: left; }
    .testim-wrap .gallery-wrap .flex {
      justify-content: center; }
    .testim-wrap .gallery-wrap .a-gallery {
      width: 100%;
      text-align: center;
      font-family: 'Montserrat', sans-serif; }
    .testim-wrap .gallery-wrap a {
      text-decoration: underline;
      font-size: 1rem;
      color: #130e27; }
  .testim-wrap .gallery-img {
    width: 104px;
    height: 104px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #A1A1A1;
    margin: 18px 18px; }
  .testim-wrap .gallery {
    padding: 17px 0px; }

footer {
  background-color: #130e27;
  padding1: 3rem 0px;
  padding: 2rem 0px; }
  footer p {
    font-family: 'PTSerifRegular', sans-serif;
    font-size: 1rem;
    color: #fff; }
  footer a {
    color: #c62314; }
  footer .fot-logo a {
    font-family: 'QuiteChocolatey', sans-serif;
    color: #c62314;
    font-size: 3.2rem;
    display: block;
    margin: -10px 0px; }

@media only screen and (max-width: 1200px) {
  html {
    font-size: 18px; }
  header .info-header {
    margin-top: 4rem; }
  .testim-wrap {
    padding: 0px; }
  .wrap-flex {
    justify-content: center; }
  .wrap-rate .rate-once {
    margin: 20px 10px; }
  .testim-wrap .testim .dj-info:nth-child(2n) .dj-text::before {
    display: none; } }

@media only screen and (max-width: 1024px) {
  html {
    font-size: 16px; }
  header .info-header {
    margin-top: 1rem; } }

@media only screen and (max-width: 992px) {
  header .main-menu {
    display: none;
    top: 60px;
    background-color: #d33021;
    width: 100%;
    text-align: center;
    z-index: 999; }
    header .main-menu ul {
      padding: 0px; }
    header .main-menu li {
      display: block;
      padding: 10px 0px; }
  header .main-menu a:hover {
    background-color: transparent; }
  header .menu-btn {
    display: block;
    float: right; }
  header .logo {
    float: left; }
  header .main-form {
    position: relative;
    margin: auto; }
  .testim-wrap .dj-info {
    padding: 0px; }
  .flex {
    justify-content: center; }
  header .menu-btn {
    margin-top: 20px; } }

@media only screen and (max-width: 768px) {
  html {
    font-size1: 14px; }
  header h1 {
    font-size: 3.5rem;
    margin: 10px 0px; } }

@media only screen and (max-width: 640px) {
  header h1 {
    font-size: 3rem; }
  header .logo {
    font-size: 3rem;
    margin: 10px 0px; } }

@media only screen and (max-width: 580px) {
  header h1 {
    font-size: 2rem;
    line-height: 1rem; } }

@media only screen and (max-width: 533px) {
  header h1 {
    font-size: 1.8rem;
    margin: 2px 0px; }
  header .wrap-form {
    min-width: 330px; } }

@media only screen and (max-width: 414px) {
  header h1 {
    font-size: 1.4rem;
    line-height: 2rem; }
  header .logo {
    margin: 2px 0px; }
  header .info-header {
    margin-top: 0.2rem; }
  header p {
    margin: 2px 0px; }
  header .wrap-form {
    min-width: 310px; }
  footer {
    text-align: center; }
  header .wrap-form {
    min-width: 100%; }
  header .main-form {
    min-width: 100%; }
  .title-section {
    font-size: 2rem; }
  header .menu-btn {
    margin-top: 10px; } }

@media only screen and (max-width: 340px) {
  header .main-form label::after {
    left: -20px; } }

@media only screen and (min-width: 993px) {
  header .main-menu {
    display: block !important; } }
