@import url(normalize.css);
@import url(fonts.css);

$blue: #130e27;
$red: #c62314;

html {
	font-size: 20px;
}


.btn {
	color: #fff;
	background-color: $red;
	border: none;
	font-family: 'Montserrat', sans-serif;
	padding: 14px 0px;
	border-radius: 5px;

}



.btn-blue {
	background-color: $blue;
}

.btn-red {
	background-color: $red;
}

.title-section {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5rem;
	margin: 2.4rem 0px;
	display: block;

}


.wrap-flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


.flex {
	display: flex;
	flex-wrap: wrap;
}

.bg-img {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
}

header {

	background-image1: url('../img/bg-head.png');

	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	overflow1: hidden;
	background-color: #b91e10;

	.bg-header {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		background1: rgba(221,34,17,0.8);
		overflow: hidden;
	}

	.logo {
		font-family: 'QuiteChocolatey', sans-serif;
		font-size: 40px;
		color: #fff;
		font-size: 4.4rem;
		margin: 20px 0px;
		display: block;
	}


	.menu-btn {
		display: none;
		width: 40px;
		height: 40px;
		background-image: url('../img/menu-button_icon-icons.png');
		background-color: transparent; 
		border: none;
		background-size: 100%;
	}

	.menu-wrap {
		position: relative;
	}

	.main-menu {

		text-align1: right;
		position: absolute;
		right: 0px;
		top: -100px;

		li {
			display: inline-block;
		}

		a {
			font-family: 'Montserrat', sans-serif;
			font-size: 0.9rem;
			color: #fff;
			padding: 10px 12px;

			&:hover {
				background-color: $blue;
				border-radius: 5px;
			}
		}

		
			
		
	}


	.info-header {
		margin1: 5rem 0px;
		margin-top: 5rem;
	}


	h1 {
		font-size: 4.5rem;
		font-family: 'Montserrat', sans-serif;
		color: $blue;
		line-height: 4rem;
		margin1: 2rem 0px;
		margin1: 64px 0px;
		margin: 30px 0px;

		span {
			color: #fff;
		}
	}

	p {
		font-family: 'PTSerifRegular', sans-serif;
		color: #fff;
		font-size: 1rem;
		line-height: 1.4rem;
	}

	.wrap-form {
		min-height1: 500px;
		min-height: 442px;
		min-width: 400px;
		position: relative;
	}

	.main-form {
		background-color: #fff;
		max-width: 400px;
		padding: 24px;
		border-radius: 5px;
		box-shadow: 1px 1px 20px #272020;
		text-align: center;
		margin-top1: 34px;
		position: absolute;
		top1: 44px;
		top: 30px;


		p {
			font-size: 1.1rem;
			font-family: 'Montserrat', sans-serif;
			color: $blue;
		}


		input[type="text"] {
			width: 100%;
			background-color: #eeeeee;
			
			padding: 12px;
			color: #b5b5b5;
			font-size: 1rem;
			font-family: 'PTSerifRegular', sans-serif;
			border: none;
			margin: 8px 0px;
			border-radius: 5px;
		}

		.none-checkbox {
			display: none;
		}

/*
		.block-checkbox {
			width: 18px;
			height: 18px;
			border-radius: 5px;
			background-color1: #eeeeee;
			background-color: red;
			display: inline-block;

			margin: 0px 20px -1px -20px;
*/			

/*
			&:before {
				content: "";
				width: 18px;
				height: 18px;
				position: absolute;
				background-image: url('../img/icons8-галочка-50.png');
				background-position: center;
				background-size: 100%;
				left: 0px;
				
			}

		}
*/
		label {
			font-size: 1rem;
			font-family: 'PTSerifRegular', sans-serif;
			cursor: pointer;
			position: relative;
			display: inline-block;
			

			&:after {

				content: "";
				position: absolute;
	
				width: 18px;
				height: 18px;
				border-radius: 5px;
				background-color: #eeeeee;

				top: 5px;

				left: -28px;
			}

		}


		input:checked + label {
			
			display1: block;

			&:before {
				content: "";
				width: 18px;
				height: 18px;
				position: absolute;
				background-image: url('../img/icons8-галочка-50.png');
				background-position: center;
				background-size: 100%;
				left: -28px;

				top: 5px;

				z-index: 10;
			}

		}

		
		.btn {
			width: 100%;
			margin-top: 24px; 
		}


	}

}


.wrap-service {
	
	background-color: #fff;

	.big-text {
		font-family: 'Myriad Pro', sans-serif;
		font-size: 2.5rem;
		color: $red;
		margin: 30px 0px;


		span {
			color: $blue;
		}
	}

	
	.service-inco {
		width: 180px;
		height: 160px;
		background-color1: red;
		background-image: url('../img/service-inco.png');
		background-position: -46px -18px;
	}

	.wrap-flex {
		
		
		.service {
			background-color1: yellow;
			text-align: center;
			width: 180px;
			margin: 20px 0px;
		}

		.service:nth-child(1) .service-inco {
			background-position: -46px -18px;
		}

		.service:nth-child(2) .service-inco {
			background-position: -330px -18px;
		}

		.service:nth-child(3) .service-inco {
			background-position: -606px -14px;
		}

		.service:nth-child(4) .service-inco {
			background-position: 218px -18px;
		}


		p {
			font-size: 1rem;
			font-family: 'PTSerifRegular', sans-serif;
		}

	}


}



.wrap-story {
	background-color: $blue;

	p {
		color: #fff;
		font-family: 'PTSerifRegular', sans-serif;
		font-size: 1rem;
	}

	.btn {
		width: 100%;
		margin: 1.2rem auto;
		max-width: 255px;
		display: block;
	}

	


}


.wrap-rate {
	background-color: #efefef;
	text-align: center;

	.btn-blue,
	.btn-red {
		width: 100%;
	}

	.rate-once {
		background-color: #ffffff;
		max-width1: 318px;
		text-align: center;
		font-size: 1rem;
		font-family: 'PTSerifRegular', sans-serif;
		padding: 10px 56px 0px 56px;
		padding-top1: 10px;
		padding-bottom1: 0px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		width: 320px;
		position: relative;
		overflow: hidden;


		.sile {
			position: absolute;
			top: 0px;
			left: 0px;
			
			background-image: url('../img/sile.png');
			width: 110px;
			height: 110px;
			background-repeat: no-repeat;

			p {
				transform: rotate(-48deg);
				position: absolute;
				top: 12px;
			}
		}


		p {
			margin: 0px;
			padding: 10px 0px;
		}

		.prise {
			color: $red;
			font-size: 3rem;
			font-family: 'Montserrat', sans-serif;
			font-weight: bold;
		}

		ul {
			padding: 0px;
		}

		li {
			list-style: none;
		}
	}

	
	.title-section {
		
		color: $blue;
	}


}


.testim-wrap {

	background-color: #fff;
	padding: 5rem;



	.title-section {
		text-align: center;
		margin: 1rem 0px;
	}

	.testim {

		.title-section {
			color: $blue;
		}


	
		.dj-info:nth-child(2n) .dj-text:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: #efefef;
			background-color1: red;
			z-index: 1;
			width1: 410px;
			width: 434px;

			left: -24px;




		}

		
		.dj-info:nth-child(2n) {
			p {
				color: #c62314;
			}

			.strong {
				color: #130e27;
			}
		}


/*
		.dj-info:nth-child(2n) {

			background-color: red;

		}
*/		

	}

	
	
	.dj-info {

		position: relative;
		padding-right1: 50px;
		max-width1: 470px;
		padding-left: 10px;
		background-color1: yellow;
		padding-left: 25px;
		padding-bottom: 1.5rem;

		p {
			color: #161616;
			font-size: 1rem;
			font-family: 'PTSerifRegular', sans-serif;
			float1: left;

			position: relative;

			z-index: 20;
		}

		.strong {
			color: #130e27;
			font-size: 1rem;
			font-family: 'Montserrat', sans-serif;
		}

		.dj-img {
			width: 104px;
			height: 104px;
			overflow: hidden;
			border-radius: 50%;
			box-shadow: 0px 0px 10px #A1A1A1;
			float1: right;
			align-self: center;
			margin1: auto;

			position1: absolute;
			right1: 0px;
			top1: calc(50% - 52px);
			
			position: relative;
			z-index: 20;


		}


		.dj-text {
			max-width: 360px;
			float1: left;
			position: relative;


		}


		


		
	}


	


	.gallery-wrap {

		text-align1: center;
		padding-bottom: 10px;

		.title-section {
			color: $red;
			text-align1: left;
		}


		.flex {
			justify-content: center;
		}


		.a-gallery {
			width: 100%;
			text-align: center;
			font-family: 'Montserrat', sans-serif;
		}

		a {
			text-decoration: underline;
			font-size: 1rem;
			color: #130e27;
		}
	}

	.gallery-img {

		width: 104px;
		height: 104px;
		overflow: hidden;
		border-radius: 50%;
		box-shadow: 0px 0px 10px #A1A1A1;
		margin: 18px 18px;

		

	}


	.gallery {
		padding: 17px 0px;
	}

	




}



footer {
	background-color: $blue;
	padding1: 3rem 0px;
	padding: 2rem 0px;

	p {
		font-family: 'PTSerifRegular', sans-serif;
		font-size: 1rem;
		color: #fff;
	}

	a {
		color: #c62314;
	}

	.fot-logo {
		a {
			font-family: 'QuiteChocolatey', sans-serif;
			color: #c62314;
			font-size: 3.2rem;
			display: block;

			margin: -10px 0px;
		}
	}
}



// Мобильная верстка
@media only screen and (max-width: 1200px) {

	html {
		font-size: 18px;	
	}
	
	header .info-header {
	   
	    margin-top: 4rem;
	}




	.testim-wrap {

	    padding: 0px;

	}




	.wrap-flex {
		justify-content: center;
	}


	.wrap-rate .rate-once {
		margin: 20px 10px;
	}


	.testim-wrap .testim .dj-info:nth-child(2n) .dj-text::before {
		display: none;
	}



}


@media only screen and (max-width: 1024px) {
	
	html {
		font-size: 16px;	
	}

	header .info-header {
		margin-top: 1rem;
	}



}

@media only screen and (max-width: 992px){

	header .main-menu {
		display: none;
		top: 60px;
		background-color: #d33021;
		width: 100%;
		text-align: center;
		z-index: 999;

		ul {
			padding: 0px;
		}

		li {
			display: block;
			padding: 10px 0px;

		}
	}

	header .main-menu a:hover {
		background-color: transparent;
	}

	header .menu-btn {
		display: block;
		float: right;
	}

	header .logo {
		float: left;
	}

	


	header .main-form {
		position: relative;
		margin: auto;
	}

	

	.testim-wrap .dj-info {
		padding: 0px;
	}

	.flex {
	    justify-content: center;
	}



	header .menu-btn {
	    margin-top: 20px;

	}



}


@media only screen and (max-width: 768px){

	html {
		font-size1: 14px;
	}

	header h1 {
		font-size: 3.5rem;
		margin: 10px 0px;
	}

}


@media only screen and (max-width: 640px){
	header h1 {
		font-size: 3rem;
	}


	header .logo {

	    font-size: 3rem;
	    margin: 10px 0px;
	}
}

@media only screen and (max-width: 580px){
	header h1 {
		font-size: 2rem;
		line-height: 1rem;
	}
}


@media only screen and (max-width: 533px){
	header h1 {
    	font-size: 1.8rem;
    	margin: 2px 0px;
	}

	header .wrap-form {
		min-width: 330px;
	}


}



@media only screen and (max-width: 414px){
	
	header h1 {
    	font-size: 1.4rem;
    	line-height: 2rem;
    	
	}

	header .logo {
   
    	margin: 2px 0px;
	}

	header .info-header {
    	margin-top: 0.2rem;
	}

	header p {
		margin: 2px 0px;
	}

	header .wrap-form {
		min-width: 310px;
	}

	footer {
 
    	text-align: center;
	}



	header .wrap-form {
		min-width: 100%;
	}

	header .main-form {
		min-width: 100%;
	}

	.title-section {
		font-size: 2rem;
	}

		
	header .menu-btn {
	    margin-top: 10px;

	}


}


@media only screen and (max-width: 340px){
	
	header .main-form label::after {
		left: -20px;
	}

}





@media only screen and (min-width: 993px){
	header .main-menu {
		display: block !important;
	}
}